In [2]:
#Importations de librairie pandas 
import pandas as pd

In [3]:
#Creations de la DataFrame 

data ={
    'Nom':['Hafidhou maoulida ','Fahami Toihir','Zayyad Said'],
    'Niveau':['Bac +5', 'Doctorat','Bac +1'],
    'Age':[25,30,22],
    'Ville':['Tsinimoipanga','Vouvouni','Mbachilé']
}

In [4]:
#Afficher la liste de la DataFrame
df=pd.DataFrame(data)
print(df)

                  Nom    Niveau  Age          Ville
0  Hafidhou maoulida     Bac +5   25  Tsinimoipanga
1       Fahami Toihir  Doctorat   30       Vouvouni
2         Zayyad Said    Bac +1   22       Mbachilé

In [5]:
#Afficher les premieres lignes 
print(df.head())

                  Nom    Niveau  Age          Ville
0  Hafidhou maoulida     Bac +5   25  Tsinimoipanga
1       Fahami Toihir  Doctorat   30       Vouvouni
2         Zayyad Said    Bac +1   22       Mbachilé

In [6]:
#afficher les dernieres lignes 
print(df.tail())

                  Nom    Niveau  Age          Ville
0  Hafidhou maoulida     Bac +5   25  Tsinimoipanga
1       Fahami Toihir  Doctorat   30       Vouvouni
2         Zayyad Said    Bac +1   22       Mbachilé

In [7]:
#Afficher les informations sur la DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nom     3 non-null      object
 1   Niveau  3 non-null      object
 2   Age     3 non-null      int64
 3   Ville   3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None

In [8]:
#Afficher des statistiques descriptives
print(df.describe())

             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

In [9]:
#Selectionner une colonne
print(df['Nom'])

0    Hafidhou maoulida
1         Fahami Toihir
2           Zayyad Said
Name: Nom, dtype: object

In [10]:
#Selectionner plusieurs colonnes 
print(df[['Age','Ville']])

   Age          Ville
0   25  Tsinimoipanga
1   30       Vouvouni
2   22       Mbachilé

In [11]:
#Selectionner des lignes par index 
print(df.iloc[0]) #Premiere ligne

Nom       Hafidhou maoulida
Niveau                Bac +5
Age                       25
Ville          Tsinimoipanga
Name: 0, dtype: object

In [12]:
#Selectionner des lignes par index 
print(df.loc[1]) #ligne avec l'index 0

Nom       Fahami Toihir
Niveau         Doctorat
Age                  30
Ville          Vouvouni
Name: 1, dtype: object

In [13]:
#Filtrer les données
print (df[df['Age'] >= 30])

             Nom    Niveau  Age     Ville
1  Fahami Toihir  Doctorat   30  Vouvouni

Modification des données

In [33]:
#Ajouter une nouvelle colone
df['Moyenne'] =[13.85,15,14.90]
print(df)

                  Nom    Niveau  Age          Ville  Moyenne  \
0  Hafidhou maoulida     Bac +5   25  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   30       Vouvouni    15.00
2         Zayyad Said    Bac +1   22       Mbachilé    14.90

        Etablissement
0      Sup'management
1  Faculté de Kenetra
2       Sup'manaement

In [41]:
df['Etablissement']=["Sup'management","Faculté de Kenetra","Sup'manaement"]
print(df)

                  Nom    Niveau  Age          Ville  Moyenne  \
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

        Etablissement
0      Sup'management
1  Faculté de Kenetra
2       Sup'manaement

In [35]:
#Modifier une colonne existante
df['Age'] = df['Age'] + 1 #Ajout plus +1 l'age

In [36]:
print (df)

                  Nom    Niveau  Age          Ville  Moyenne  \
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

        Etablissement
0      Sup'management
1  Faculté de Kenetra
2       Sup'manaement

In [39]:
#supprimer une colonne exixtante 
df = df.drop('Etablissement', axis=1)

In [40]:
print(df)

                  Nom    Niveau  Age          Ville  Moyenne
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

Gestion des valeurs manquantes

In [42]:
#Verifier les valeurs manquantes
print(df.isnull())

     Nom  Niveau    Age  Ville  Moyenne  Etablissement
0  False   False  False  False    False          False
1  False   False  False  False    False          False
2  False   False  False  False    False          False

In [43]:
#Supprimer les lignes avec des valeurs manquantes 
df =df.dropna()

In [44]:
print(df)

                  Nom    Niveau  Age          Ville  Moyenne  \
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

        Etablissement
0      Sup'management
1  Faculté de Kenetra
2       Sup'manaement

In [45]:
#Remplacer les valeurs manquantes 
df= df.fillna(0)

In [46]:
print (df)

                  Nom    Niveau  Age          Ville  Moyenne  \
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

        Etablissement
0      Sup'management
1  Faculté de Kenetra
2       Sup'manaement

Agrégation et regroupement

In [47]:
#Calculer la moyenne d'une colonne
print(df['Age'].mean())

26.666666666666668

In [48]:
#Grouper par colonne et calculer des statiques
print(df.groupby('Ville')['Age'].mean())

Ville
Mbachilé         23.0
Tsinimoipanga    26.0
Vouvouni         31.0
Name: Age, dtype: float64

Tri des données

In [53]:
#Trier par colonne
df= df.sort_values(by='Age',ascending=False) #trier par ordre croissant 
print(df)

                  Nom    Niveau  Age          Ville  Moyenne  \
1       Fahami Toihir  Doctorat   31       Vouvouni    15.00
0  Hafidhou maoulida     Bac +5   26  Tsinimoipanga    13.85
2         Zayyad Said    Bac +1   23       Mbachilé    14.90

        Etablissement
1  Faculté de Kenetra
0      Sup'management
2       Sup'manaement

Exportation des données

In [56]:
#Exporter en CSV
df.to_csv('nouveau_fichier.csv', index=False)

In [55]:
#Exporter en Excel
df.to_excel('nouveau_fichier.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'